@charset "UTF-8";
/*paleta de colores*/
/*tipografías*/
/*bordes*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /*10px = 1 rem*/ }

.grillaGeneral {
  max-width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-areas: "header" "main"  "aside" "footer";
  gap: 10px; }
  @media screen and (min-width: 768px) {
    .grillaGeneral {
      grid-template-areas: "header header" "main aside"  "footer footer";
      grid-template-columns: 3fr 1fr; } }
  @media screen and (min-width: 1024px) {
    .grillaGeneral {
      grid-template-areas: "header header header" "main main aside"  "footer footer footer";
      grid-template-columns: 3fr 3fr 1fr; } }

header {
  grid-area: header;
  background-color: #dab88b;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black; }

h1:hover {
  color: white; }

.navflex {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2rem;
  font-weight: bold; }

main {
  grid-area: main;
  background-color: #f3e9dd;
  max-width: 100%; }

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  padding: 10px; }
  @media screen and (min-width: 1024px) {
    .contenido .fotoYlogo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }
  .contenido .fotoYlogo div {
    padding: 1rem; }

.imgIndex {
  border-radius: 20px;
  border: 1px double black;
  margin-bottom: 10px; }
  .imgIndex:hover {
    transform: translate(5px, -5px);
    transition: 2s; }

.parrafoPrincipal {
  background-color: white;
  margin: 5rem 5rem;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 20px;
  border: 1px double black; }

.containermp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.preguntas {
  text-align: center;
  padding: 2rem; }
  .preguntas h2 {
    animation-duration: 4s;
    animation-name: moverTexto;
    animation-iteration-count: infinite;
    padding: 1rem; }

@keyframes moverTexto {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.mercadoPago, .mercadoPagoContacto {
  background-color: #b7cadb;
  padding: 20px;
  border: solid 2px black;
  margin-bottom: 3rem; }
  .mercadoPago:hover, .mercadoPagoContacto:hover {
    animation: mercadopago 3s; }

@keyframes mercadopago {
  0% {
    transform: scale(2); }
  30% {
    transform: translateX(20px); }
  60% {
    transform: translateX(-40px); } }
  .mercadoPago h3, .mercadoPagoContacto h3 {
    text-align: center; }

aside {
  grid-area: aside;
  background-color: #dab88b;
  max-width: 100%; }
  aside .flexContPubli {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly; }
    @media screen and (min-width: 768px) {
      aside .flexContPubli {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    aside .flexContPubli img {
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid black; }

footer {
  grid-area: footer;
  background-color: #b7cadb;
  max-width: 100%;
  padding: 30px; }

.redesSociales {
  list-style: none;
  display: flex;
  justify-content: right; }
  .redesSociales img:hover {
    transform: translateX 10px;
    transition: 1s;
    margin: 5px; }

.grillaProyecto {
  display: grid;
  grid-template-areas: "introProyecto" "imgProyecto1" "imgProyecto2"    "donaMusica" "impactoGabi"     "imgProyecto3" "imgProyecto4"    "instrumentos" "sumate";
  gap: 10px;
  justify-items: center;
  margin: 10px; }
  @media screen and (min-width: 1024px) {
    .grillaProyecto {
      grid-template-areas: "introProyecto imgProyecto1" "imgProyecto2 donaMusica" "impactoGabi imgProyecto3" "imgProyecto4 instrumentos" "sumate sumate";
      justify-content: center;
      align-items: center; } }

.introProyecto {
  grid-area: introProyecto; }

.imgProyecto1 {
  grid-area: imgProyecto1; }

.imgProyecto2 {
  grid-area: imgProyecto2; }

.donaMusica {
  grid-area: donaMusica; }

.impactoGabi {
  grid-area: impactoGabi; }

.imgProyecto3 {
  grid-area: imgProyecto3; }

.imgProyecto4 {
  grid-area: imgProyecto4; }

.instrumentos {
  grid-area: instrumentos; }

.sumate {
  grid-area: sumate;
  text-align: center;
  font-size: 2.5rem;
  margin: 20px; }

.textoProyecto {
  background-color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 20px;
  border: 1px double black; }
  .textoProyecto h2 {
    padding: 10px; }

.imagenesProyecto {
  border-radius: 20px;
  border: 1px double black; }

.galeriaGrid {
  display: grid;
  grid-template-areas: "tituloGaleria" "fotos2022" "fotos2021" "fotos2020" "fotos2019" "fotos2018";
  gap: 10px;
  margin: 10px;
  justify-items: center; }

.titulo {
  grid-area: tituloGaleria; }

.fotos2022 {
  grid-area: fotos2022; }

.fotos2021 {
  grid-area: fotos2021; }

.fotos2020 {
  grid-area: fotos2020; }

.fotos2019 {
  grid-area: fotos2019; }

.fotos2018 {
  grid-area: fotos2018; }

.años {
  text-align: center; }

.imagenesGaleria {
  background-color: #b7cadb;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  border: 1px double black;
  padding: 10px; }
  .imagenesGaleria picture {
    margin: 5px; }
    .imagenesGaleria picture img {
      border-radius: 20px;
      border: 1px double black; }

.containerNovedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .containerNovedades div h2 {
    padding: 10px; }

.medios {
  background-color: white;
  border-radius: 20px;
  border: 1px double black;
  padding: 30px;
  margin: 10px; }
  .medios h2 {
    text-align: center; }
  .medios h3 {
    text-align: left; }

.containerContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .containerContacto div h2 {
    text-align: center;
    padding: 10px; }

.formularioContacto {
  background-color: #b7cadb;
  margin: 1rem 3rem;
  padding: 2rem;
  border-radius: 20px;
  border: 1px double black; }

.sumateContacto {
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px double black;
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .sumateContacto p {
    font-size: 2rem; }
