/*paleta de colores*/
$color-oscuro: rgb(218, 184, 139); 
$color-claro: rgb(243, 233, 221);
$color-celeste: rgb(183, 202, 219); 
$color-cuadtext: white;

/*tipografías*/

$title-font: 'Montserrat', sans-serif;
$main-font: 'Roboto', sans-serif;

/*bordes*/
$border-rad: 20px;
$border-normal: 1px double black;