aside{
    grid-area: aside;
    background-color: $color-claro;
    max-width: 100%;

    .flexContPubli{
        @include flexCenterRow;
        justify-content: space-evenly;
        @include tablet{
            @include flexCenterColumn;
        }

        img{
            width: 70%;
            margin-top: 10px;
            margin-bottom: 10px;
            border: 1px solid black;
        }
    }
}